<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all books</title>
</head>
<body>
<h2>List of all your gardens</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Creation date</th>
        <th>Number of plants</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="garden: ${gardens}">
        <td th:text="${garden.name}">Nazwa ogrodu</td>
        <td th:text="${garden.getCreationDateAsString()}">Data utworzenia</td>
        <td th:text="${garden.numberOfPlants}">Liczba roślin</td>
        <td><a th:href="@{'/user-plants/' + ${garden.id}}">Show plants</a> </td>
        <td><a th:href="@{'/user-gardens/delete-choice/' + ${garden.id}}">Delete</a> </td>
    </tr>
    </tbody>
</table>
<p/>
<p><a href="/user-gardens/add">Add new garden</a></p>
<p/>
<p><a href="/gardens/find">find gardens</a></p>
</body>
</html>