<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all plants for your garden</title>
</head>
<body>
<h2>List of all plants in your garden</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Specie</th>
        <th>Type</th>
        <th>Condition</th>
        <th>Planting date</th>
        <th>Last watering date</th>
        <th>Next watering date</th>
        <th>Watering frequency</th>
        <th>Next transplantation</th>
        <th>Comments</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="plant: ${plants}">
        <td th:text="${plant.getName()}">Nazwa rośliny</td>
        <td th:text="${plant.getSpecies()}">Species</td>
        <td th:text="${plant.getType()}">Plant type</td>
        <td th:text="${plant.getPlantingDate()}">Data posadzenia</td>
        <td th:text="${plant.getStatus()}">Plant condition</td>
        <td th:text="${plant.getWateredDate()}">Last watering date</td>
        <td th:text="${plant.getWateredDate()}">Next watering date</td>
        <td th:text="${plant.getWateringFrequency()}">Get watering frequency</td>
        <td th:text="${plant.getTransplantationDate()}">Next proposed transplant</td>
        <td th:text="${plant.getNotatka()}">comments</td>
        <td><a th:href="@{'/user-plants/delete-plant/' + ${plant.id}}">Delete</a> </td>

    </tr>
    </tbody>
</table>
<p/>
<p><a th:href="@{'/user-plants/add/' + ${gardenid}}">Add new plant</a></p>
<p/>
<p><a href="/user-plants/find">find plant</a></p>
</body>
</html>