<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Register user </title>
</head>
<body>

<form action="#" th:action="@{/user/register}" th:object="${newuser}" method="post">
    <div><label> User Name : <input type="text" name="name"/> </label></div>
    <div><label> User Surname : <input type="text" name="surname"/> </label></div>
    <div><label> User email : <input type="text" name="email"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Avatarpicture: <input type="password" name="avatarPicture"/> </label></div>
    <div><input type="submit" value="register"/></div>
</form>

</body>
</html>